body {
    display: flex;
    justify-content: center;
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;;
}

p {
    color: hsl(215, 51%, 70%);
    font-size: 18px;
    font-weight: 300;
}

h1 {
    color: white;
    font-weight: 600;
    font-size: 22px;
}

.nft-card {
    background-color: hsl(216, 50%, 16%);
    width: 300px;
    padding: 25px;
    border-radius: 12px;
    top: 50%;
    transform: translateY(25%);
}

.nft-image {
    display: block;
    overflow: hidden;
    border-radius: 6px;
    width: 300px;
    position: relative;
}

.nft-image-overlay {
    position: absolute;
    top: 25px;
    background-color: hsl(178, 100%, 50%, 50%);
    width: 300px;
    height: 300px;
    z-index: 999;
    opacity: 0;
    border-radius: 6px;
}

.icon-view {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.auction-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ethereum-price {
    color: hsl(178, 100%, 50%);
    font-weight: 400;
}

.auction-info::after {
    content: '';
    display: block;
    width: 300px;
    height: 1px;
    background: hsl(215, 32%, 27%);
}

.creator-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.creator-image {
    width: 32px;
    height: 32px;
    border-width: 1px;
    border-style: solid;
    border-color: White;
    border-radius: 50%;
    margin-right: 16px;
}

.creator-name {
    color: white;
}

.creator-name:hover,
.nft-name:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

.nft-image-overlay:hover {
    cursor: pointer;
    opacity: 1;
}
